* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  width:100%;
  height: 84px;
  align-items:center;
  padding: 0 auto;
}

header .header-left {
  display: flex;
  align-items:center;
}
header .header-right {
  display: flex;
  align-items:center;
}

.header-left a {
  margin-left: 30px;
}

.header-right li {
  display: inline-block;
  position: relative;
  height: 100%;
  margin: 0 20px;
  cursor: pointer;
  
}


.header-right ul li .dropdown {
  position: absolute;
  top: 30px;
  left: -10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 24px rgba(45,62,80,0.12);
}


.header-right > a {
  display: none;
}

.hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 20px;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background: #fff;
}
.hamburger-icon {
  display: none;
  position: absolute;
  right: 30px;
  top: 30px;
  color: rgb(139, 149, 158);
  font-size: 20px;
}


.hamburger-menu li {
  list-style: none;
  padding: 20px;
}

.close {
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;
  color: rgb(139, 149, 158);
  font-size: 20px;
}


@media screen and (max-width: 1000px)
{
    .header-right ul, button  {
        display: none;
    }

    .hamburger-icon {
      display: block;
    }
  

  
}

@media screen and (min-width: 1000px)
{


  
}